<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SharkHub</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <main class="ocean">

        <div class="bubbles" aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="phone">

            <div class="phone-screen">

                {% block content %}{% endblock %}

            </div>

        </div>

    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>